
/*Profile*/
.profile {
	background: url("../img/cutcube.png");
}

h1 {
	text-align: center;
	color: #722;
}

h2 {
	text-align: center;
	font-family: 'Quantico', sans-serif;
	padding: 10px;
	color: #722;
}

h3 {
	font-family: 'Chivo', sans-serif;
	color: #722;
}

p {
	text-align: center;
	color: #722;
	font-size: 1.2em;
}

a:link,
a:visited {
	color: #234588;
	font-size: 1.25em;
}

a:hover,
a:active {
	background: #000;
}

/*Balance*/

.balance {
	background: url("../img/mirrored_squares.png");
}

h4 {
	text-align: center;
	font-family: 'Chivo', sans-serif;
}

h1 {
	font-family: 'Chivo', sans-serif;
	color: #722;
}

.registration {
	background: url("../img/triangles.png");
	font-family: 'Quantico', sans-serif;
}

.canvas {
	font-family: 'Quantico', sans-serif;
	background: url("../img/triangles.png");
}



