/* Set Your Own Margin & Padding */
h2,
h4 {
	font-family: 'Quantico', sans-serif;
}

h3 {
	font-family: 'Chivo', sans-serif;
}

a {
	color: #722;
	text-decoration: none;
}

p {
	font: sans-serif, black;
}

a:link,
a:visited {
	color: #722;
}

a:hover,
a:active {
	background: #234588;
}
/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 200px;
	width: 200px;
}

/*Style Tile for Scott Williams*/
.color-1 {
	background: #722;
}

.color-2 {
	background: #234588;
}

.color-3 {
	background: #000;
}

.imagery-1 {
	background: url("../img/basketball.jpg");
	background-size: 200px;
}

.imagery-2 {
	background: url("../img/football.png") no-repeat;
	background-size: 200px;
}

.imagery-3 {
	background: url("../img/gamer.jpg");
	background-size: 200px;
}

.pattern-1 {
	background: url("../img/cutcube.png");
}

.pattern-2 {
	background: url("../img/mirrored_squares.png");
}

.pattern-3 {
	background: url("../img/triangles.png");
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}